body {
  font-family: "DM Serif Display", serif;
  font-family: "Playfair Display", serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background: url(images/appelsiini.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
  background-color: rgb(250, 235, 215, 0.8);
  width: 80%;
}

.title {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}
