

:root{
--cadet-gray: #85A4A7ff;
--linen: #F0E8E0ff;
--redwood: #AF5043ff;
--dark-slate-gray: #2E4741ff;
--brown-sugar: #B77855ff;
--burnt-sienna: #D88269ff;
}


* {box-sizing: border-box;}

body {
  font-family: 'Gabarito', sans-serif;
  background-color: var(--linen);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  transition: background 0.2s linear;
  background-color: var(--linen);
  margin: 0;
  padding: 0;
  margin-top: 7rem;
}

body.dark {background-color: var(--dark-slate-gray)}

body.dark h1 h2, body.dark .support a body.dark th{color: var(--linen)}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: var(--linen);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  margin: 0;
  width: 100%;
  background-color: var(--burnt-sienna);
  color: var(--linen);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: var(--linen);
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  font-weight: bold;
  background-color: var(--burnt-sienna);
}
